<% if c['results2010'] or c['prediction2015'] %>

  <div class="row votesharegraph">
    <div class="col-sm-6" style="padding-right: 5px;">
      <div class="circle-past" id="circle-past-<%= c['id'] %>"></div>
  % share of votes 2010
    </div>
    <div class="col-sm-6" style="padding-left: 0px; padding-right: 20px">
      <div class="circle-future" id="circle-future-<%= c['id'] %>"></div>
  Predicted % share of votes 2015
    </div>
  </div>

<% end %>

<% if c['results2010'] %>

<p class="candidate-content-index">

  <!--
  <%= c['results2010'] %>
  -->
  
  <% if c['name'] == c['results2010']['name'] %>
  
    <% if c['results2010']['elected'] %>
      <%= c['name'] %> was elected from this constituency in 2010.
    <% else %>
      <% if c['party'] == 'Independent' %>
        <%= c['name'] %> was an independent candidate also in 2010.
      <% else %>
        <%= c['name'] %> was the <%= c['party'] %> candidate also in 2010.
      <% end %>
    <% end %>
  
  <% else %>
  
    <% if c['results2010']['elected'] %>
      The <%= c['party'] %> candidate <%= c['results2010']['name'] %> was elected from this constituency in 2010, and is standing down this year. <%= c['name'] %> is the 2015 candidate.
    <% else %>
      In 2010, the <%= c['party'] %> candidate was <%= c['results2010']['name'] %>.
    <% end %>
  
  <% end %>

<script>
  <% if c['results2010']['elected'] %>
    Circles.create({id: 'circle-past-<%= c['id'] %>', value: <%= c['results2010']['percentage'] %>, radius: 40, width: 10, colors: ['#DD5A55', '#5B2423']})
  <% else %>
    Circles.create({id: 'circle-past-<%= c['id'] %>', value: <%= c['results2010']['percentage'] %>, radius: 40, width: 10, colors: ['#D2D0C8', '#333333']})
  <% end %>
</script>


<% else %>

  <script>
    Circles.create({id: 'circle-past-<%= c['id'] %>', value: -1, text: 'N/A', textClass: 'circles-text-small', radius: 40, width: 10, colors: ['#D2D0C8', '#333333']})
  </script>

  
  <% if not c['prediction2015'] %>
  
    Unfortunately, we don't have data available for this candidate.

  <% else %>

    <p style="height: 5px;"></p>
  
  <% end %>

<% end %>

<script>
  <% if c['prediction2015'] %>
    <% if c['prediction2015']['maxvalue'] %>
      Circles.create({id: 'circle-future-<%= c['id'] %>', value: <%= c['prediction2015']['value'] %>, radius: 40, width: 10, colors: ['#DD5A55', '#5B2423']})
    <% else %>
      Circles.create({id: 'circle-future-<%= c['id'] %>', value: <%= c['prediction2015']['value'] %>, radius: 40, width: 10, colors: ['#D2D0C8', '#333333']})
    <% end %>
  <% else %>
    Circles.create({id: 'circle-future-<%= c['id'] %>', value: -1, text: 'N/A', textClass: 'circles-text-small', radius: 40, width: 10, colors: ['#D2D0C8', '#333333']})
  <% end %>
</script>

</p>

<style>
.votesharegraph {
  text-align: center
}

.circles-text-small {
  font-size: 18px !important;
}

.circle-past {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.circle-future {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#canvas .circle {
        display: inline-block;
        margin: 1em;
}

.circles-decimals {
        font-size: .4em;
}

</style>

