<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% content_for :title do 'YourCandidates.org.uk - '+  @constituencyName end %>

<%= render partial: "header" %>

<div class="container index-maincontainer">
  <div class="row">
    <h1 id="constituency-header">Candidates for <%= @constituencyName %></h1>
  </div>

<script>
  jQuery("#constituency-header").fitText(1.2, {maxFontSize: '48px'});
</script>

<div class="visible-xs-block">

<style>
/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
        width:auto;
}

#nav-xs.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}

.navbar-nav {
    margin:0;
}
.navbar-nav>li {
    float:none;
    display:inline-block;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

</style>

<!-- Begin Navbar -->
<div id="nav-xs">
  <div class="navbar">
      <ul style="float: left;" class="nav navbar-nav navbar-left">
        <li><p id="topmenutext" class="navbar-text navbar-right">Personal links</p></li>
      </ul>
      <ul style="float: right;" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="f
alse">Choose comparison<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript: $('#personalTab').tab('show'); $('#topmenutext').text('Personal links')">Personal links</a></li>
            <li><a href="javascript: $('#nhsTab').tab('show'); $('#topmenutext').text('The NHS');">The NHS</a></li>
            <li><a href="javascript: $('#economyTab').tab('show'); $('#topmenutext').text('Economy and taxes');">Economy and taxes</a></li>
            <li><a href="javascript: $('#immigrationTab').tab('show'); $('#topmenutext').text('Immigration');">Immigration</a></li>
            <li><a href="javascript: $('#benefitsTab').tab('show'); $('#topmenutext').text('Benefits and pensions');">Benefits and pensions</a></li>
            <li><a href="javascript: $('#lawTab').tab('show'); $('#topmenutext').text('Rights and crime');">Rights and crime</a></li>
            <li><a href="javascript: $('#twitterTab').click()">Candidate twitter feeds</a></li>
          </ul>
        </li>
      </ul>
  </div><!-- /.navbar -->
</div>

<script>
$('#nav-xs').affix({
      offset: {
        top: 87
      }
});
</script>

</div> <!-- visible-xs-block -->

  <div class="row">
    <div class="col-md-3">
  
<div class="hidden-xs">

      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a id="personalTab" href="#personalInfo" aria-controls="home" role="tab" data-toggle="tab">Personal links</a></li>
        <li role="presentation"><a id="nhsTab" href="#nhs" aria-controls="home" role="tab" data-toggle="tab">The NHS</a></li>
        <li role="presentation"><a id="economyTab" href="#economy" aria-controls="home" role="tab" data-toggle="tab">Economy and taxes</a></li>
        <li role="presentation"><a id="immigrationTab" href="#immigration" aria-controls="home" role="tab" data-toggle="tab">Immigration</a></li>
        <li role="presentation"><a id="benefitsTab" href="#benefits" aria-controls="home" role="tab" data-toggle="tab">Benefits and pensions</a></li>
        <li role="presentation"><a id="lawTab" href="#lawandorder" aria-controls="home" role="tab" data-toggle="tab">Rights and crime</a></li>
<!--        <li role="presentation"><a href="#environment" aria-controls="home" role="tab" data-toggle="tab">Environment</a></li> -->
        <li role="presentation" style="padding-left: 15px; padding-top: 8px;">Environment - coming soon</li>
        <li role="presentation" style="padding-top: 8px;" id="twitterTab" class="fake-link"><a><i class="fa fa-angle-double-down"></i> Candidate twitter feeds</a></li>
      </ul>

</div> <!-- hidden-xs -->


<script>
$('li.fake-link').on('click', function() {
    $.smoothScroll({
      scrollTarget: '#twitter',
      offset: -30
    });
  });
</script>

    </div>
  
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">
  
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
<% if not c['isEmpty'] %>
       <ul class="list-group">

                        <% if c['MPid'] %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="http://www.theyworkforyou.com/mp/<%= c['MPid'] %>" target="_blank"><i class="fa fa-history fa-candidate-list"></i>Voting record and MP profile</a> <br/>
</li>
                        <% end %>
                        <% if c['twitter_username'].length > 2 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="https://www.twitter.com/<%= c['twitter_username'] %>"><i class="fa fa-twitter fa-candidate-list"></i>@<%= c['twitter_username'] %> on Twitter</a>
</li>
                        <% end %>
                        <% if c['facebook_personal_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="<%= c['facebook_personal_url'] %>"><i class="fa fa-facebook-square fa-candidate-list"></i>Facebook profile</a>
</li>
                        <% end %>
                        <% if c['homepage_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="<%= c['homepage_url'] %>"><i class="fa fa-home fa-candidate-list"></i>Personal homepage</a>
</li>
                        <% elsif c['party_ppc_page_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="<%= c['party_ppc_page_url'] %>"><i class="fa fa-home fa-candidate-list"></i>Personal homepage</a>
</li>
                        <% end %>
                        <% if c['wikipedia_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="<%= c['wikipedia_url'] %>"><i style="font-family: "Times New Roman", Times, serif;" class="fa fa-candidate-list">W</i> Wikipedia page</a>
</li>
                        <% end %>
                        <% if c['email'] and c['email'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" target="_blank" href="mailto:<%= c['email'] %>"><i class="fa fa-envelope-o fa-candidate-list"></i>Email</a>
</li>
                        <% end %>
</ul>

<% else %>

<p class="candidate-content-index">
  There is no information about this candidate in the database yet. You can help by <a target="_blank" href="https://yournextmp.com" class="candidate-link-index">contributing to the database</a> yourself.
</p>

<% end %>
  
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
  
      </div>
  
  <!-- NHS -->
  
      <div role="tabpanel" class="tab-pane fade" id="nhs">
  
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                      <p class="candidate-content-index">
                        Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'The NHS', :policies => @policies[c['id'].to_s]['The NHS'] } %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
  
      </div>
  
  <!-- UK Economy -->
  
      <div role="tabpanel" class="tab-pane fade" id="economy">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>

                      <p class="candidate-content-index">
                        Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Economy and taxes', :policies => @policies[c['id'].to_s]['Economy and taxes'] } %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Immigration -->
  
      <div role="tabpanel" class="tab-pane fade" id="immigration">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Immigration', :policies => @policies[c['id'].to_s]['Immigration'] } %>
                    </p>
  
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Benefits and pensions -->
  
      <div role="tabpanel" class="tab-pane fade" id="benefits">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Benefits and pensions', :policies => @policies[c['id'].to_s]['Benefits and pensions'] } %>
                    </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Europe -->
  
      <div role="tabpanel" class="tab-pane fade" id="lawandorder">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Law and order', :policies => @policies[c['id'].to_s]['Law and order'] } %>
                    </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Environment -->
  
      <div role="tabpanel" class="tab-pane fade" id="environment">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                      <p class="candidate-content-index">
                        <%= @policies[c['id'].to_s]['Environment'] %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</ul>
<% if @twitter_list %>
<a name="#twitter" id="twitter" class="anchor-destination">
<div class="twitter-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
        There are <%= @twitter_count %> candidates in your area using twitter. See their latest updates here.
        </h1>
      </div>
      <div class="col-md-offset-2 col-md-6">
          <a class="twitter-timeline" href="https://twitter.com/TwittElection/lists/motherwell-and-wishaw" data-widget-id="563093058695487490" data-list-owner-screen-name="twittelection" data-list-slug="<%= @twitter_list %>"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
</a>
<% end %>

<div class="social-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <h1>
This election is too important for you to be a bystander. Challenge your friends to get informed, by sharing with these links.
        </h1>

      </div>
      <div class="col-md-offset-2 col-md-6">

        <div class="social-container">
                <div class="sharing-links">
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="twitter" data-url="http://yourcandidates.org.uk" data-via="UKcandidates" data-description="I just used the first UK website that shows my candidates for UK parliament. Do you know yours?" class="prettySocial fa fa-twitter fa-stack-1x fa-inverse"></a>
   </span>
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="facebook" data-url="http://www.yourcandidates.org.uk" data-title="" data-description="" data-media="" class="prettySocial fa fa-facebook fa-stack-1x fa-inverse"></a>
                </div>

                <script type="text/javascript" class="source">
                        $('.prettySocial').prettySocial();
                </script>
        </div>

      </div>
    </div>
  </div>

</div>

<%= render partial: "footer" %>
