<div class="header">
  <%= render partial: "header" %>
</div>

<div class="container">


<div class="row">
  <div class="col-md-3">

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#personalInfo" aria-controls="home" role="tab" data-toggle="tab">Personal information</a></li>
      <li role="presentation"><a href="#environment" aria-controls="home" role="tab" data-toggle="tab">Environment</a></li>
      <li role="presentation"><a href="#welfare" aria-controls="home" role="tab" data-toggle="tab">Welfare</a></li>
      <li role="presentation"><a href="#immigration" aria-controls="home" role="tab" data-toggle="tab">Immigration</a></li>
      <li role="presentation"><a href="#austerity" aria-controls="home" role="tab" data-toggle="tab">Austerity</a></li>
    </ul>

  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">

      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <div class="candidate-name">
                    <a href="/candidates/<%= c['id'] %>"><strong><%= c['name'] %></strong></a><br/>
                  </div>
                  Candidate for <%= c['party_memberships']['2015']['name'] %><br/><br/>

                  Personal info goes here!
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="environment">

      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <div class="candidate-name">
                    <a href="/candidates/<%= c['id'] %>"><strong><%= c['name'] %></strong></a><br/>
                  </div>
                  Candidate for <%= c['party_memberships']['2015']['name'] %><br/><br/>

                  <%= @policies[c['id'].to_s]['Environment'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="immigration">

      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <div class="candidate-name">
                    <a href="/candidates/<%= c['id'] %>"><strong><%= c['name'] %></strong></a><br/>
                  </div>
                  Candidate for <%= c['party_memberships']['2015']['name'] %><br/><br/>

                  <%= @policies[c['id'].to_s]['Immigration'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="austerity">test 4</div>
  </div>

</div>
