<div class="header">
  <%= render partial: "header" %>
</div>

<div class="container">

<div class="row">
  <div class="col-md-3">

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#personalInfo" aria-controls="home" role="tab" data-toggle="tab">Personal information</a></li>
      <li role="presentation"><a href="#nhs" aria-controls="home" role="tab" data-toggle="tab">The NHS</a></li>
      <li role="presentation"><a href="#economy" aria-controls="home" role="tab" data-toggle="tab">Economy and taxes</a></li>
      <li role="presentation"><a href="#immigration" aria-controls="home" role="tab" data-toggle="tab">Immigration</a></li>
      <li role="presentation"><a href="#benefits" aria-controls="home" role="tab" data-toggle="tab">Benefits and pensions</a></li>
      <li role="presentation"><a href="#europe" aria-controls="home" role="tab" data-toggle="tab">Europe</a></li>
      <li role="presentation"><a href="#environment" aria-controls="home" role="tab" data-toggle="tab">Environment</a></li>
    </ul>

  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">

      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>
                    <p class="candidate-content-index">

                      <% if c['twitter_username'].length > 2 %>
                        <a href="https://www.twitter.com/<%= c['twitter_username'] %>">@<%= c['twitter_username'] %> on Twitter</a> <br />
                      <% end %>
                      <% if c['facebook_personal_url'].length > 5 %>
                        <a href="<%= c['facebook_personal_url'] %>">Facebook profile</a><br />
                      <% end %>
                      <% if c['homepage_url'].length > 5 %>
                        <a href="<%= c['homepage_url'] %>">Personal homepage</a><br />
                      <% elsif c['party_ppc_page_url'].length > 5 %>
                        <a href="<%= c['party_ppc_page_url'] %>">Personal homepage</a><br />
                      <% end %>
                      <% if c['wikipedia_url'].length > 5 %>
                        <a href="<%= c['wikipedia_url'] %>">Wikipedia page</a><br />
                      <% end %>
                      <% if c['email'] and c['email'].length > 5 %>
                        <a href="mailto:<%= c['email'] %>">Email</a><br />
                      <% end %>

                    </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

<!-- NHS -->

    <div role="tabpanel" class="tab-pane fade" id="nhs">

      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>

                  <%= @policies[c['id'].to_s]['NHS'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

<!-- UK Economy -->

    <div role="tabpanel" class="tab-pane fade" id="economy">
      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>

                  <%= @policies[c['id'].to_s]['UK Economy'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

<!-- Immigration -->

    <div role="tabpanel" class="tab-pane fade" id="immigration">
      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_party_header", :locals => { :c => c } %>

                  <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Immigration', :policies => @policies[c['id'].to_s]['Immigration'] } %>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

<!-- Benefits and pensions -->

    <div role="tabpanel" class="tab-pane fade" id="benefits">
      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>

                  <%= @policies[c['id'].to_s]['Benefits and pensions'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

<!-- Europe -->

    <div role="tabpanel" class="tab-pane fade" id="europe">
      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>

                  <%= @policies[c['id'].to_s]['Europe'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

<!-- Environment -->

    <div role="tabpanel" class="tab-pane fade" id="environment">
      <div class="col-md-9">
        <% @candidates.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |c| %>
              <div class="col-md-4">
                <div class="listbox">
                  <%= render partial: "box_header", :locals => { :c => c } %>

                  <%= @policies[c['id'].to_s]['Environment'] %>
    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
