<%= render partial: "header" %>

<div class="container index-maincontainer">
  <div class="row">
    <h1 id="constituency-header">Candidates for <%= @constituencyName %></h1>
  </div>

<script>
  jQuery("#constituency-header").fitText(1.2, {maxFontSize: '48px'});
</script>

  <div class="row">
    <div class="col-md-3">
  
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#personalInfo" aria-controls="home" role="tab" data-toggle="tab">Personal information</a></li>
        <li role="presentation"><a href="#nhs" aria-controls="home" role="tab" data-toggle="tab">The NHS</a></li>
        <li role="presentation"><a href="#economy" aria-controls="home" role="tab" data-toggle="tab">Economy and taxes</a></li>
        <li role="presentation"><a href="#immigration" aria-controls="home" role="tab" data-toggle="tab">Immigration</a></li>
        <li role="presentation"><a href="#benefits" aria-controls="home" role="tab" data-toggle="tab">Benefits and pensions</a></li>
        <li role="presentation"><a href="#lawandorder" aria-controls="home" role="tab" data-toggle="tab">Law and order</a></li>
<!--        <li role="presentation"><a href="#environment" aria-controls="home" role="tab" data-toggle="tab">Environment</a></li> -->
        <li role="presentation" style="padding-left: 15px; padding-top: 8px;">Environment - coming soon</li>
        <li role="presentation" style="padding-top: 8px;"><a id="twitter-link" href="#twitter">Candidate twitter feeds</a></li>
      </ul>

<script>
$('a#twitter-link').on('click', function() {
    $.smoothScroll({
      scrollTarget: '#twitter',
      offset: -30
    });
    return false;
  });
</script>

    </div>
  
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">
  
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
<% if not c['isEmpty'] %>
       <ul class="list-group">

                        <% if c['MPid'] %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="http://www.theyworkforyou.com/mp/<%= c['MPid'] %>">Voting record and MP profile</a> <br/>
</li>
                        <% end %>
                        <% if c['twitter_username'].length > 2 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="https://www.twitter.com/<%= c['twitter_username'] %>">@<%= c['twitter_username'] %> on Twitter</a>
</li>
                        <% end %>
                        <% if c['facebook_personal_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="<%= c['facebook_personal_url'] %>">Facebook profile</a>
</li>
                        <% end %>
                        <% if c['homepage_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="<%= c['homepage_url'] %>">Personal homepage</a>
</li>
                        <% elsif c['party_ppc_page_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="<%= c['party_ppc_page_url'] %>">Personal homepage</a>
</li>
                        <% end %>
                        <% if c['wikipedia_url'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="<%= c['wikipedia_url'] %>">Wikipedia page</a>
</li>
                        <% end %>
                        <% if c['email'] and c['email'].length > 5 %>
  <li class="list-group-item">
                          <a class="candidate-link-index" href="mailto:<%= c['email'] %>">Email</a>
</li>
                        <% end %>
</ul>

<% else %>

<p class="candidate-content-index">
  There is no information about this candidate in the database yet. You can help by <a href="https://yournextmp.com" class="candidate-link-index">contributing to the database</a> yourself.
</p>

<% end %>
  
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
  
      </div>
  
  <!-- NHS -->
  
      <div role="tabpanel" class="tab-pane fade" id="nhs">
  
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                      <p class="candidate-content-index">
                        Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'The NHS', :policies => @policies[c['id'].to_s]['The NHS'] } %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
  
      </div>
  
  <!-- UK Economy -->
  
      <div role="tabpanel" class="tab-pane fade" id="economy">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>

                      <p class="candidate-content-index">
                        Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Economy and taxes', :policies => @policies[c['id'].to_s]['Economy and taxes'] } %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Immigration -->
  
      <div role="tabpanel" class="tab-pane fade" id="immigration">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Immigration', :policies => @policies[c['id'].to_s]['Immigration'] } %>
                    </p>
  
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Benefits and pensions -->
  
      <div role="tabpanel" class="tab-pane fade" id="benefits">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Benefits and pensions', :policies => @policies[c['id'].to_s]['Benefits and pensions'] } %>
                    </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Europe -->
  
      <div role="tabpanel" class="tab-pane fade" id="lawandorder">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                    <p class="candidate-content-index">
                      Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Law and order', :policies => @policies[c['id'].to_s]['Law and order'] } %>
                    </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
  <!-- Environment -->
  
      <div role="tabpanel" class="tab-pane fade" id="environment">
        <div class="col-md-9">
          <% @candidates.each_slice(3) do |slice| %>
            <div class="row">
              <% slice.each do |c| %>
                <div class="col-md-4">
                  <div class="listbox">
                    <%= render partial: "box_header", :locals => { :c => c } %>
  
                      <p class="candidate-content-index">
                        <%= @policies[c['id'].to_s]['Environment'] %>
                      </p>
      
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</ul>
<% if @twitter_list %>
<a name="#twitter" id="twitter" class="anchor-destination">
<div class="twitter-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
        There are <i>X</i> candidates in your area using twitter. See their latest updates here.
        </h1>
      </div>
      <div class="col-md-offset-2 col-md-6">
          <a class="twitter-timeline" href="https://twitter.com/TwittElection/lists/motherwell-and-wishaw" data-widget-id="563093058695487490" data-list-owner-screen-name="twittelection" data-list-slug="<%= @twitter_list %>"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
</a>
<% end %>

<div class="social-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <h1>
        Everyone should know their candidates. Challenge your friends to find out by sharing with these links.
        </h1>

      </div>
      <div class="col-md-offset-2 col-md-6">

        <div class="social-container">
                <div class="links">
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="twitter" data-url="http://sonnyt.com/prettySocial" data-description="Who can you vote for? Find out." data-via="sonnyt" class="prettySocial fa fa-twitter fa-stack-1x fa-inverse"></a>
   </span>
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="facebook" data-url="http://sonnyt.com/prettySocial" data-title="Who cna you vote for? Find out." data-description="Who can you vote for? Find out." data-media="http://sonnyt.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-facebook fa-stack-1x fa-inverse"></a>
                </div>

                <script type="text/javascript" class="source">
                        $('.prettySocial').prettySocial();
                </script>
        </div>

      </div>
    </div>
  </div>

</div>

<%= render partial: "footer" %>
