<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% content_for :title do 'YourCandidates.org.uk - '+  @constituencyName end %>
<% content_for :ogdescription do @constituencyName+": Want your vote to make a difference in the UK election? Don’t just listen to the party bosses. Connect with the local candidates in "+@constituencyName+", or search elsewhere with your postcode. See what they’re up to on social media, get the latest predictions on local results, and compare policies." end %>
<% content_for :ogtitle do "The election in "+@constituencyName+": Who are the people that will represent you and "+@constituencyName+"?" end %>
<% content_for :ogurl do request.original_url end %>

<%= render partial: "header" %>

<div class="visible-xs-block">
  <!-- Begin Navbar -->
  <div class="navbar-wrapper">
    <div id="nav-xs">
      <div class="navbar">
	<ul style="float: left;" class="nav navbar-nav navbar-left">
	  <li><p id="topmenutext" class="navbar-text">Personal links</p></li>
	</ul>
	<ul style="float: right;" class="nav navbar-nav navbar-right">
	  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Choose comparison <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="javascript: $('#personalTab').tab('show'); $('#topmenutext').text('Personal details')">Personal details</a></li>
  	    <li><a href="javascript: $('#voteTab').tab('show'); $('#topmenutext').text('2015 Forecast')">2015 Forecast</a></li>
	    <li><a href="javascript: $('#twitterTab').click()">Twitter feeds</a></li>
	    <li><a href="javascript: $('#nhsTab').tab('show'); $('#topmenutext').text('The NHS');">The NHS</a></li>
	    <li><a href="javascript: $('#economyTab').tab('show'); $('#topmenutext').text('Economy and taxes');">Economy and taxes</a></li>
	    <li><a href="javascript: $('#immigrationTab').tab('show'); $('#topmenutext').text('Immigration');">Immigration</a></li>
	    <li><a href="javascript: $('#benefitsTab').tab('show'); $('#topmenutext').text('Benefits and pensions');">Benefits and pensions</a></li>
	    <li><a href="javascript: $('#lawTab').tab('show'); $('#topmenutext').text('Rights and crime');">Rights and crime</a></li>
	    <li><a href="javascript: $('#envTab').tab('show'); $('#topmenutext').text('Environment');">Environment</a></li>
	  </ul>
	  </li>
	</ul>
      </div><!-- /.navbar -->
    </div>
  </div>
</div> <!-- visible-xs-block -->

<div class="container index-maincontainer">
  <div class="row" style="margin-bottom: 10px;">
    <div id="header-container">
      <p style="text-align: right; margin: 10px 10px 0px 0px;"><big>Parliamentary Election, May 2015</big></p>
      <h1 id="constituency-header">Candidates for <%= @constituencyName %></h1>
    </div>
  </div>

<script>
  jQuery("#constituency-header").fitText(1.6, {maxFontSize: '48px'});
</script>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  
      <div class="hidden-xs">
        <ul class="nav nav-pills nav-stacked">
  	<li role="presentation" class="active"><a id="personalTab" href="#personalInfo" aria-controls="home" role="tab" data-toggle="tab">Personal details</a></li>
  	<li role="presentation"><a id="voteTab" a href="#voteshare" aria-controls="home" role="tab" data-toggle="tab">2010 results and 2015 forecast</a></li>
  	<li role="presentation" id="twitterTab" class="fake-link"><a><i class="fa fa-angle-double-down"></i> Candidate twitter feeds</a></li>
  	<li role="presentation"><a id="nhsTab" href="#nhs" aria-controls="home" role="tab" data-toggle="tab">The NHS</a></li>
  	<li role="presentation"><a id="economyTab" href="#economy" aria-controls="home" role="tab" data-toggle="tab">Economy and taxes</a></li>
  	<li role="presentation"><a id="immigrationTab" href="#immigration" aria-controls="home" role="tab" data-toggle="tab">Immigration</a></li>
  	<li role="presentation"><a id="benefitsTab" href="#benefits" aria-controls="home" role="tab" data-toggle="tab">Benefits and pensions</a></li>
  	<li role="presentation"><a id="lawTab" href="#lawandorder" aria-controls="home" role="tab" data-toggle="tab">Rights and crime</a></li>
  	<li role="presentation"><a id="envTab" a href="#environment" aria-controls="home" role="tab" data-toggle="tab">Environment</a></li>
        </ul>

        <hr>

        <div id="db-notice-box">
          Please note that our database is incomplete and still improving. <a target="_blank" href="https://yournextmp.com/tasks/">You can help</a>.
        </div>
<!--
        <div id="forecast-notice-box">
          Please note that our database is incomplete and still improving. <a target="_blank" href="https://yournextmp.com/tasks/">You can help</a>.
        </div>
-->
        
      </div> <!-- hidden-xs -->
  
      <script>
        $('li.fake-link').on('click', function() {
  	$.smoothScroll({
  	  scrollTarget: '#twitter',
  	  offset: -30
  	});
        });
      </script>
  
    </div>
  
    <%-# First candidate block, showing personal details -%>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">
          <div class="row">
            <% @candidates.each_with_index do |c, i| %>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="listbox"> 
                  <%= render partial: "box_header", :locals => { :c => c } %>
  
                  <% if not c['isEmpty'] %>
                    <%= render partial: "personal", :locals => { :c => c } %>
                  <% else %>
  
                    <p class="candidate-content-index">
                    There is no information about this candidate in the database yet. You can help by <a target="_blank" href="https://yournextmp.com" class="candidate-link-index">contributing to the database</a> yourself.
                    </p>
  
                  <% end %>
  
                </div> <!-- /listbox -->
              </div> <!-- /col-lg.. -->
  
              <%= render partial: "clearfix", :locals => { :i => i } %>
  
            <% end %> <!-- //@candidates loop -->
          </div> <!-- /row -->
        </div> <!-- tab-panel -->

    <!-- NHS -->
  
      <div role="tabpanel" class="tab-pane fade" id="nhs">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
              <p class="candidate-content-index">

              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'The NHS', :policies => @policies[c['id'].to_s]['The NHS'] } %>
              </p>

            </div>
          </div>

          <%= render partial: "clearfix", :locals => { :i => i } %>

          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->
  
  <!-- UK Economy -->
  
      <div role="tabpanel" class="tab-pane fade" id="economy">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
              <p class="candidate-content-index">
  
              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Economy and taxes', :policies => @policies[c['id'].to_s]['Economy and taxes'] } %>
              </p>
            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->
  
  <!-- Immigration -->
  
      <div role="tabpanel" class="tab-pane fade" id="immigration">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
  
              <p class="candidate-content-index">
              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Immigration', :policies => @policies[c['id'].to_s]['Immigration'] } %>
              </p>
            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->
  
  <!-- Benefits and pensions -->
  
      <div role="tabpanel" class="tab-pane fade" id="benefits">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
  
              <p class="candidate-content-index">
              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Benefits and pensions', :policies => @policies[c['id'].to_s]['Benefits and pensions'] } %>
              </p>
            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->
  
  <!-- Rights and crime -->
  
      <div role="tabpanel" class="tab-pane fade" id="lawandorder">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
  
              <p class="candidate-content-index">
              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Law and order', :policies => @policies[c['id'].to_s]['Law and order'] } %>
              </p>
  
            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->
  
  <!-- Environment -->
  
      <div role="tabpanel" class="tab-pane fade" id="environment">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
  
              <p class="candidate-content-index">
              Party policy: <%= render partial: "party_policy", :locals => { :c => c, :policy_area => 'Law and order', :policies => @policies[c['id'].to_s]['Environment'] } %>
              </p>

            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->

  <!-- Vote share -->
  
      <div role="tabpanel" class="tab-pane fade" id="voteshare">
        <div class="row">
          <% @candidates.each_with_index do |c, i| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="listbox"> 
              <%= render partial: "box_header", :locals => { :c => c } %>
  
                <%= render partial: "voteshare", :locals => { :c => c, :year => @previousElectionYear } %>

            </div>
          </div>
  
          <%= render partial: "clearfix", :locals => { :i => i } %>
  
          <% end %> <!-- //@candidates loop -->
        </div> <!-- /row -->
      </div> <!-- tab-pane -->

    </div>
  </div>
</div>
</div>

<% if @twitter_list %>
<a name="#twitter" id="twitter" class="anchor-destination"></a>
<div class="twitter-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h1 style="margin-bottom: 40px;">
        There are <%= @twitter_count %> candidates in this area using Twitter. See their latest updates here.
        </h1>
      </div>
      <div class="col-sm-8 col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-6">
        <div style="height: 605px;">
          <a class="twitter-timeline" href="https://twitter.com/TwittElection/lists/motherwell-and-wishaw" data-widget-id="563093058695487490" data-list-owner-screen-name="twittelection" data-list-slug="<%= @twitter_list %>"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	  <h3 id="twitter-error" style="position: relative; display: none;">The Twitter feeds may not load if you are using products such as Adblock on your browser. You can see all the tweets from the candidates on <a href="https://twitter.com/TwittElection/<%= @twitter_count %>">on this page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</a>
<% end %>

<script>
twttr.widgets.load();
</script>

<div class="social-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">

        <h1 style="margin-bottom: 40px;">
This election is too important for you to be a bystander. Challenge your friends to get informed by sharing the page with these links.
        </h1>

      </div>
      <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-6">

        <div class="social-container">
                <div class="sharing-links">
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="twitter" data-url="http://yourcandidates.org.uk" data-via="UKcandidates" data-description="I just used the first UK website that shows my candidates for UK parliament. Do you know yours?" class="prettySocial fa fa-twitter fa-stack-1x fa-inverse"></a>
   </span>
  <span class="fa-stack fa-lg" style="font-size: 50px;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="#" data-type="facebook" data-url="http://www.yourcandidates.org.uk" data-title="" data-description="" data-media="" class="prettySocial fa fa-facebook fa-stack-1x fa-inverse"></a>
                </div>

                <script type="text/javascript" class="source">
                        $('.prettySocial').prettySocial();
                </script>
        </div>

      </div>
    </div>
  </div>

</div>

<%= render partial: "footer" %>

<script>
$(document).ready(function(){
$('#nav-xs').affix({
      offset: {
        top: $('#nav-xs').offset().top,
        bottom: $( document ).height()-( $('.twitter-section').offset().top)+($('#nav-xs').outerHeight() - $('#nav-xs').height())
      }
});
});
$(window).load(function(){
  if (! $('#twitter-widget-0').is(':visible')) { $('#twitter-error').css('display','block'); }
});
</script>
