<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "YourCandidates.org.uk - Who can you vote for on May 7th?" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon-180x180.png') %>">
  <link rel="icon" type="image/png" href="<%= asset_path('favicon-32x32.png') %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= asset_path('android-chrome-192x192.png') %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= asset_path('favicon-96x96.png') %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_path('favicon-16x16.png') %>" sizes="16x16">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= asset_path('mstile-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <!-- for Google -->
  <meta name="description" content="YourCandidates.org.uk is the first UK website that helps you discover and compare the candidates for parliament from your area. Find out who you can vote for, compare candidates based on policies, and engage with them through social media." />
  <meta name="keywords" content="election uk politics voting advice candidates parliament ge2015" />
  
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="application-name" content="" />
  <!-- Google Analytics -->
  <%= analytics_init if Rails.env.production? %>
  
  <!-- for Facebook -->          
  <meta property="og:title" content="YourCandidates.org.uk - Who can you vote for on May 7th?" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.yourcandidates.org.uk<%= asset_path('og-image.jpg') %>" />
  <meta property="og:url" content="http://www.yourcandidates.org.uk" />
  <meta property="og:description" content="YourCandidates.org.uk is the first UK website that uses the power of open data help you discover the candidates for parliament from your area. Find out who you can vote for, compare candidates based on policies, and engage with them through social media." />
  
  <!-- for Twitter -->          
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="YourCandidates.org.uk - Who can you vote for on May 7th?" />
  <meta name="twitter:description" content="YourCandidates.org.uk is the first UK website that uses the power of open data help you discover the candidates for parliament from your area. Find out who you can vote for, compare candidates based on policies, and engage with them through social media." />
  <meta name="twitter:image" content="http://www.yourcandidates.org.uk<%= asset_path('og-image.jpg') %>" />

</head>
<body>

<div class="wrapper">

<%= yield %>

</div>

</body>
</html>
