<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "YourCandidates.org.uk - Who can you vote for in the parliamentary election?" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- for Google -->
  <meta name="description" content="YourCandidates.org.uk is the first UK website to help you compare and connect with the candidates for parliament. Find out who you can vote for in your area." />
  <meta name="keywords" content="election uk politics voting advice candidates" />
  
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="application-name" content="" />
  
  <!-- for Facebook -->          
  <meta property="og:title" content="YourCandidates.org.uk - Who can YOU vote for?" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= asset_path('og-image.jpg') %>" />
  <meta property="og:url" content="http://www.yourcandidates.org.uk" />
  <meta property="og:description" content="YourCandidates.org.uk is the first UK website to help you compare and connect with the candidates for parliament. Find out who you can vote for in your area. Compare them based on the party policies you care about, and engage with them through links to their social media." />
  
  <!-- for Twitter -->          
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="YourCandidates.org.uk - Who can YOU vote for?" />
  <meta name="twitter:description" content="YourCandidates.org.uk is the first UK website to help you compare and connect with the candidates for parliament. Find out who you can vote for in your area. Compare them based on the party policies you care about, and engage with them through links to their social media." />
  <meta name="twitter:image" content="<%= asset_path('og-image.jpg') %>" />

</head>
<body>

<div class="wrapper">

<%= yield %>

</div>

</body>
</html>
